<div id="{{vm.formId}}-crud-table" ng-show="vm.filterResults.length > 0">

    <div class="table-responsive" style="white-space: nowrap;">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th></th>
               		<th ng-repeat="(fieldName,field) in vm.fields" ng-if="field.hiden != true">{{vm.serverConnection.convertCaseAnyToLabel(field.label)}}</th>
                </tr>
            </thead>
            <tbody id="{{vm.formId}}-crud-table-body">
                <tr ng-repeat="item in vm.pagination.listPage">
					<td>
						<a href ng-if="vm.crudService.params.access.update == false" ng-click="vm.goToView(vm.crudService.getPrimaryKey(item))"><span class="glyphicon glyphicon-eye-open"></span> {{vm.translation.view}}</a>
						<a href ng-if="vm.crudService.params.access.update != false" ng-click="vm.goToEdit(vm.crudService.getPrimaryKey(item))"><span class="glyphicon glyphicon-edit"></span> {{vm.translation.edit}}</a>
						<a href ng-if="vm.crudService.params.access.delete != false" ng-click="vm.remove(vm.crudService.getPrimaryKey(item))"><span class="glyphicon glyphicon-trash"></span> {{vm.translation.delete}}</a>
					</td>
                    <td ng-repeat="(fieldName,field) in vm.fields" ng-if="field.hiden != true">
                    	<a href="{{vm.goToField(fieldName, 'view', item, false)}}">{{vm.databaseUiAdapter.getUiValue(item, fieldName, true)}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

	<div id="{{vm.formId}}-crud-table-messages" class="check-element animate-show" ng-show="vm.crudService.httpRest.message.length > 0">
		<strong>{{vm.crudService.httpRest.message}}</strong>
	</div>

	<ul uib-pagination ng-show="vm.filterResults.length > vm.pagination.pageSize" ng-change="vm.pagination.changePage()" items-per-page="vm.pagination.pageSize" total-items="vm.filterResults.length" ng-model="vm.pagination.currentPage" max-size="10" boundary-link-numbers="true" rotate="false"></ul>

</div>
