<div ng-repeat="(fieldName,field) in vm.fields" ng-if="field.hiden != true">
	<div class="form-group" ng-class="{'has-error': {{vm.formId}}.{{fieldName}}.$invalid}">
	    <label for="{{fieldName}}" class="col-sm-2 control-label">{{vm.serverConnection.convertCaseAnyToLabel(field.label)}}</label>

	    <div id="{{vm.formId}}-{{fieldName}}_controls" class="col-sm-10" ng-if="field.filterResultsStr == undefined">
			<input                                              class="form-control" id="{{vm.formId}}-{{fieldName}}" name="{{fieldName}}" ng-required="field.required == true" ng-model="vm.instance[fieldName]"      ng-disabled="{{field.readOnly == true}}" type="{{field.htmlType}}" step="{{field.htmlStep}}" placeholder="{{field.placeholder}}" autocomplete="off">
	    </div>

	    <div id="{{vm.formId}}-{{fieldName}}_controls" class="col-sm-7" ng-if="field.filterResultsStr != undefined">
            <input  ng-if="field.filterResultsStr.length >  20" class="form-control" id="{{vm.formId}}-{{fieldName}}" name="{{fieldName}}" ng-required="field.required == true" ng-model="field.externalReferencesStr" ng-disabled="{{field.readOnly == true}}" type="text" ng-change="vm.parseValue(fieldName)" list="{{vm.formId}}-{{fieldName}}-list" autocomplete="off">
			<select ng-if="field.filterResultsStr.length <= 20" class="form-control" id="{{vm.formId}}-{{fieldName}}" name="{{fieldName}}" ng-required="field.required == true" ng-model="field.externalReferencesStr" ng-disabled="{{field.readOnly == true}}"             ng-change="vm.parseValue(fieldName)" ng-options="o for o in field.filterResultsStr"></select>
            <datalist id="{{vm.formId}}-{{fieldName}}-list">
                <option ng-repeat="o in field.filterResultsStr" value="{{o}}"/>
            </datalist>
	    </div>

        <div class="col-sm-3" ng-if="field.service != undefined && field.readOnly != true">
            <a id="{{vm.formId}}-create" name="create" class="btn btn-secondary" href="{{vm.goToField(fieldName, 'new')}}"><span class="glyphicon glyphicon-plus"></span> {{vm.translation.create}}</a>
            <a id="{{vm.formId}}-search" name="search" class="btn btn-secondary" href="{{vm.goToField(fieldName, 'search')}}"><span class="glyphicon glyphicon-search"></span> {{vm.translation.search}}</a>
        </div>
	</div>
	<!-- field.flags : String[], vm.instanceFlags[fieldName] : Boolean[] -->
	<div ng-repeat="flagLabel in field.flags">
		<div ng-if="flagLabel.length > 0" class="form-group form-group-xs">
			<label class="col-xs-offset-1 control-label"><input type="checkbox" id="{{vm.formId}}-{{fieldName}}-{{$index}}" ng-model="vm.instanceFlags[fieldName][$index]" ng-change="vm.parseValue(fieldName)"/>{{flagLabel}}</label>
		</div>
	</div>
</div>
